stage: kubernetes

server:
    port: 8080

spring:
    datasource:
        url: jdbc:postgresql://postgres-1.aws.rebuy.loc/rebuy
        hikari:
            maximum-pool-size: 5

clients:
    permission-client:
        host: customer-silo.default.svc.cluster.local.

remote-token-services:
    endpoint: customer-silo.default.svc.cluster.local.
    cacheSize: 3000

messaging:
    host: rabbitmq.default.svc.cluster.local
    user: ${spring.application.name}
    password: ${rabbitmqPassword}

opentracing:
    jaeger:
        udpSender:
            host: jaeger-agent.default.svc.cluster.local
        sampler:
            type: probabilistic
            param: 0.01

