<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
        </Console>
        <Gelf name="gelfAppender"
              ExtractStackTrace="true"
              Facility="${projectName}"
              FilterStackTrace="true"
              Host="tcp:graylog2.default.svc.cluster.local"
              IncludeFullMdc="true"
              MaximumMessageSize="8192"
              MdcProfiling="true"
              Port="12201"
              Version="1.1">
            <Field name="environment" literal="kubernetes" />
        </Gelf>
    </Appenders>
    <Loggers>
        <Logger name="org.springframework.integration.support.MessageBuilder" level="warn" />
        <Logger name="${package}.${artifactId}" level="info" />
        <Root level="info">
            <AppenderRef ref="STDOUT" level="warn" />
            <AppenderRef ref="gelfAppender"/>
        </Root>
    </Loggers>
</Configuration>
